@forward "global";
@forward "layout";
@forward "components";

body {
    font-family: var(--ff-main);
    color: var(--clr-drk);
}

.container {
    margin: 0 auto;
    padding-inline: 5vw;
}

section {
    height: 100vh;
}

.light_btn {
    background: var(--clr-orange);
    padding: 0.2rem 2rem;
    font-size: 0.9rem;
}
.dark_btn {
    background: #6a5c5a;
    padding: 0.2rem 2rem;
    font-size: 0.9rem;
}
