.blogit {
    width: 55vw;
    
    &__content {
        margin-bottom: 2rem;
        h2 {
            font-size: var(--fs-md);
        }
    }

    & form {
        input,
        textarea {
            width: 60%;
            margin-bottom: 2rem;
            padding: 1rem;        
            border-radius: 5px;
            border: 1.5px solid var(--clr-drk);

            &:focus {
                border:none ;
                outline: 3px solid var(--clr-pri);
            }
        }
    }
}